
<div class="background-box">
	<div class="text-center">
		<div id="title-inline"></div>
		<p> @ViewData["Message"]</p>
		<div id="title-inline"></div>
		<form asp-controller="Students" asp-action="Main">
			<p><button class="button-revers">Главная</button></p>
		</form>
	</div>
</div>
