@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
    ViewData["Title"] = "SignUp";
}

@model AttendanceJournalLibrary.Teacher
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="background-box form-center">
    <div class="text-center">
        <div id="title-inline"></div>
        <h2>Регистрация</h2>
        <div id="title-inline"></div>
        <div>
            <form class="form-main" asp-action="SignUp" asp-controller="Account">
                <label asp-for="FirstName"></label>
                <p>
                    <input type="text" asp-for="FirstName" required maxlength="20" placeholder="Имя" />
                    <span asp-validation-for="FirstName" class="position-box-error"></span>
                </p>

                <label asp-for="LastName"></label>
                <p>
                    <input type="text" asp-for="LastName" required maxlength="20" placeholder="Фамилия" />
                    <span asp-validation-for="LastName" class="position-box-error"></span>
                </p>

                <label asp-for="MiddleName"></label>
                <p>
                    <input type="text" asp-for="MiddleName" required maxlength="20" placeholder="Отчество" />
                    <span asp-validation-for="MiddleName" class="position-box-error"></span>
                </p>

                <label asp-for="Position"></label>
                <p>
                    <input type="text" asp-for="Position" required maxlength="20" placeholder="Должность" />
                    <span asp-validation-for="Position" class="position-box-error"></span>
                </p>

                <label asp-for="Email"></label>
                <p>
                    <input type="text" asp-for="Email" required maxlength="20" placeholder="Почта" />
                    <span asp-validation-for="Email" class="position-box-error"></span>
                </p>

                <label asp-for="Login"></label>
                <p>
                    <input type="text" asp-for="Login" maxlength="20" placeholder="Логин" />
                    <span asp-validation-for="Login" class="position-box-error"></span>
                </p>

                <label asp-for="Password"></label>
                <p>
                    <input type="password" asp-for="Password" maxlength="20" placeholder="Пароль" />
                    <span asp-validation-for="Password" class="position-box-error"></span>
                </p>
                <p><button>Регистрация</button></p>
            </form>
        </div>
        <p class="validation-summary-errors">@ViewData["Message"]</p>
        <div id="title-inline-small"></div>
        <div>
            <div>
                <p>
                    <form method="get" asp-controller="Account" asp-action="SignIn">
                        <p><button class="button-revers">Войти</button></p>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>