@{
	ViewData["Title"] = "Page not found";
}

<div class="background-box">
	<div class="text-center">
		<div id="title-inline"></div>
		<h2>Page not found</h2>
		<div id="title-inline"></div>
		<p>Извините, запрашиваемая страница не найдена.</p>
		<form asp-controller="Home" asp-action="Index">
			<button class="button-revers">Ок</button>
		</form>
	</div>
</div>
</div>
