@{
    ViewData["Title"] = "Home";
}

<div class="background-box">
    <div class="text-center">
        <div id="title-inline"></div>
            <h1 class="display-4"><b>Домашняя страница</b></h1>
        <div id="title-inline"></div>
        </div>
    <p>
        Журнал учета посещаемости студентов - это систематическая запись о посещениях студентами занятий, мероприятий или учебных курсов в образовательной организации. Он включает в себя данные о присутствии студентов на лекциях, семинарах, практических занятиях и других учебных мероприятиях.
    </p>

    <h3>Этот журнал обычно содержит следующие элементы:</h3>
    <h3>1. Дата и время: Запись о проведенном занятии включает дату и время начала и окончания учебного занятия.</h3>
    <h3>2. Группа/Курс: Указание на группу студентов или конкретный учебный курс, который был посещен.</h3>
    <h3>3. ФИО студентов: Записи о присутствующих студентах, включая их полные имена или идентификационные номера.</h3>
    <h3>4. Вид занятия: Указание на тип занятия - лекция, семинар, лабораторная работа и т. д.</h3>
    <h3>5. Предмет/Тема: Информация о предмете или теме занятия, которое студенты посещали.</h3>
    <h3>6. Отметка о посещаемости: Индикация, был ли студент присутствующим, отсутствующим или пропустил занятие по уважительной причине.</h3>
    <h3>7. Примечания: Дополнительные комментарии или обстоятельства, которые могут быть важными для организации, преподавателей или студентов.</h3>
    <ul>
        <p> Журнал учета посещаемости студентов является важным инструментом для контроля активности студентов в учебном процессе. Он помогает отслеживать прогресс студентов, оценивать их участие в учебном процессе, а также влияет на принятие решений по дальнейшей работе с учебной группой или отдельными студентами.</p>
    </ul>
</div>