@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="background-box">
    <div class="text-center">
        <div id="title-inline"></div>
        <h2>Политика конфеденциальности</h2>
        <div id="title-inline"></div>
    </div>

    <p>Сайт собирает и обрабатывает ваши персональные данные. Если Вы используете возможности сайта, то Вы автоматически соглашаетесь с политикой сайта.</p>
    <p>Ваши данные будут храниться. Данные не передаются третьим лицам.</p>
    <p>Гарантируется безопасность Ваших данных.</p>
</div>
